<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    {% extends 'base.html' %}

    {% block content %}
    <div class="jumbotron">
        <h1 class="display-4">Blog App</h1>
        <p class="lead">A Blog website built with Django.</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="{% url 'post_list' %}" role="button">View All Posts</a>
        </p>
    </div>
    {% endblock content %}
</body>
</html>